  <div class="row">
        <div class="col-md-1"><div class="round-image-50"><%= image_tag(event.user.avatar.url(:thumb)) %></div></div><br><div class="col-md-11 col-md-pull-1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= event.user.username %>
        <%= event.action %>
        <strong><%= event.eventable.username %></strong></div>
    </div>